---
layout: default
---

<h1 class="heading">{{ site.title }}</h1>
<hr>

<p>
  Welcome to my personal portfolio and blog website. 
  Here I document my ongoing projects, blogs on 
  current open source issues I'm solving or have solved 
  in the past alongside new things I learn! Feel free to take a look around, 
  open to any critiques of anything posted on my site.
</p>

<h2 class="heading">Articles</h2>
<hr>
{% include post-list.html %}

<h2 class="heading">Projects</h2>
<hr>

<h2>Greensense</h2>
<p>Physical Prototype</p>
<img src="{{ '/assets/imgs/Physical-Prototype.jpeg' | relative_url}}">

<hr>
<center><span class="sun">*</span></center>
