---
layout: default
---

<h1 class="heading">{{ site.title }}</h1>
<hr>

<p>
  Welcome to my personal portfolio and blog website. 
  Here I document my ongoing projects, blogs on 
  current open source issues I'm solving or have solved 
  in the past alongside new things I learn! Feel free to take a look around, 
  open to any critiques of anything posted on my site.
</p>

<h2 class="heading">Articles</h2>
<hr>
{% include post-list.html %}

<h2 class="heading">Projects</h2>
<hr>

<h2>Dogs2Home</h2>
<p><b>Description:</b> Constructed in under a day, Dog2Me is a full 
stack Internet of Things web page application heavily 
inspired by the Ring home monitoring system. Specialized in 
detecting your dog destroying furniture through Google’s 
Computer Cloud Vision, the application provides real time alerts 
alongside a real time database to the webpage about destroyed 
property caused by your home pet.</p>



<p>Integrated Prototype</p>
<img src="{{ '/assets/imgs/basicPrototypeDogs2Home.png' | relative_url}}">

<hr>
<h2>Greensense</h2>
<p><b>Description:</b> During the SFHacks 2026 Hackathon 
  in under 3 days me and my team built a full 
  stack IoT device using an Arduino to solve issues 
  in order to promote saving the environment through 
  temperature and humidity monitoring, with the main 
  theme being promoting an eco 
  friendly world. Primarily geared at HVAC 
  monitoring, gathering real time updates to save 
  energy, alongside providing AI suggestions of 
  surrounding and room based DHT11 monitoring.
</p>

<h2>Fullstack Presented Prototype</h2>
<img src="{{ '/assets/imgs/Physical-Prototype.jpeg' | relative_url}}">

<h2>Autocad Fritzer Wire Diagram</h2>
<img src="{{ '/assets/imgs/wireDiagramGreenSenseDevice.png' | relative_url}}">


<hr>
<center><span class="sun">*</span></center>
